.search-form{
  margin-bottom: 40px;
  font-weight: bold;
  width: 70%;
  margin: auto;
  background-color:#00b7ce;
}
.contents{ 
  overflow: scroll;
  height: auto;
  max-width: 70%;
  background-color:#00b7ce ;
  margin: auto;
}
.index-heading{
  font-size: 40px;
}



.content a{
  color: aliceblue;
}

.content__bottom{
  display: flex;
 justify-content: center;
}

.content__right__bottom--userName{
display: flex;
margin-left: 15px;
}

.content__bottom__edit{
  margin-left: 15px;
}

.content__bottom__destroy{
  margin-left: 15px;
}