.contents{ 
  overflow: scroll;
  height: auto;
  max-width: 70%;
  background-color:#00b7ce ;
  margin: auto;
  box-shadow: 0 2px 6px #c1ced7;
}
.contents a{
  color: aliceblue;
}

.content__bottom{
  display: flex;
 justify-content: center;
}

.content__right__bottom--userName{
display: flex;
margin-left: 15px;
}

.content__bottom__edit{
  margin-left: 15px;
}

.content__bottom__destroy{
  margin-left: 15px;
}