<%=render partial: "shared/header"%>
<div class= "about-main">
    <div class="main">
      <div class="inner">
        <div class="card__wrapper">
          <%=render partial: "shared/post",collection: @posts%>
        </div>
      </div>
    </main>
    </div>
</div>