// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.post-box {
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-box>.spa_name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.post-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.post-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.or-text {
  font-size: 30px;
}

.post-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.post-explain-box{
  font-size: 18px;
  margin: 40px 0px;
  max-width: 70vh;
  overflow-wrap: anywhere;
  background-color: cornsilk;
  color: black;
  
}

.detail-table {
  margin-bottom: 30px;
  width: 70%;
  
}

.detail-post {
  width: 20%;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: #FFF;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  margin-right: 20px;
}

.report-flag-icon {
  margin-right: 5px;
}

.favorite-option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.count-flag-icon {
  margin-right: 5px;
}

.count-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 2px solid aquamarine;
  display: flex;
  justify-content: center;
  background-color: #FFF;
}

a{
  text-decoration: none;
  color:blue;
}